<% include partials/header.ejs %>

<h1> <%= question.question %> </h1>

<img src="<%= question.image%>" >

<h3> <%= question.url%> </h3>

<a href="/q&a"> Go Back </a>   

<% include partials/footer.ejs %>